/.vscode/
.env

/frontend/node_modules/
/backend/venv/

**/__pycache__/
/frontend/build/
/frontend/.eslintrc.json

/backend/.pytest_cache/
/backend/.coverage
/frontend/test-results/
/frontend/playwright-report/