@import 'variables';
// FIXME: it makes the button unclickable
.error-message {
    @include flex-center();
    @include shadows($text-shadow-blur: 4px);
    
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    font-size: clamp(20px, 5vw, 40px);
}