@import 'variables';

.go-back-button {
    @include flex-center();
    
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    
    & button {
        height: 60px;
        width: 330px;
        box-shadow: 0 0 13px $secondary-color;
        text-shadow: 0 0 1px $secondary-color;
        
        &:hover {
            box-shadow: 0 0 19px $secondary-color;
            text-shadow: 0 0 2px $secondary-color;
        }
    }
}

.board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-inline-size: 720px;
    width: $board-size;
    height: $board-size;
}

.cell {
    @include flex-center();

    width: $cell-size;
    height: $cell-size;
    font-size: 120px;
    text-shadow: 0 0 8px $secondary-color;
    user-select: none;
}

.line {
    position: absolute;
    background-color: $secondary-color;
    box-shadow: 0 0 8px $secondary-color;
    border-radius: 10px;
    
    &:nth-of-type(1) {
        top: $cell-size - 6px;
        width: 100%;
        height: 12px;
    }
    
    &:nth-of-type(2) {
        top: 2 * $cell-size - 6px;
        width: 100%;
        height: 12px;
    }

    &:nth-of-type(3) {
        left: $cell-size - 6px;
        height: 100%;
        width: 12px;
    }

    &:nth-of-type(4) {
        left: 2 * $cell-size - 6px;
        height: 100%;
        width: 12px;
    }
}

.message {
    @include flex-center();

    min-width: $board-size;
    margin-top: 40px;
    text-shadow: 0 0 5px $secondary-color;

    font-size: 50px;
    font-family: sans-serif;
}